<header class="app-header">
  <div class="header-left">
    <button class="menu-toggle-btn" aria-label="Toggle Menu" type="button"
      (click)="layoutService.toggleMobileSidebar()">
      <i class="pi pi-bars"></i>
    </button>

    <div class="app-branding">
      <i class="pi pi-box brand-icon"></i>
      <span class="brand-text">{{ 'common.appTitle' | transloco }}</span>
    </div>
  </div>

  <div class="header-right">
    <app-error></app-error>

    <app-language-switcher></app-language-switcher>

    <app-theme-toggle></app-theme-toggle>

    <app-notification></app-notification>

    <div class="user-avatar" (click)="menu.toggle($event)" title="User Profile">
      <span class="user-name">U</span>
    </div>
  </div>
</header>
<p-menu #menu [model]="items" [popup]="true" />
