<p-table [value]="value" [columns]="columns" paginatorDropdownAppendTo="body" [showGridlines]="true" [loading]="loading" [paginator]="paginator" [rows]="rows"
  [rowsPerPageOptions]="rowsPerPageOptions" [rowHover]="true" class="simple-table"
  [selectionMode]="selectionMode" [lazy]="lazy" [totalRecords]="totalRecords"
  (onLazyLoad)="lazyLoad.emit($event)" (onRowSelect)="rowSelect.emit($event.data)">
  <ng-template pTemplate="header" let-columns>
    <tr>
      @for(col of columns; track col.field) {
      <th [pSortableColumn]="col.sortable ? col.field : ''" [ngStyle]="{ width: col.width }">
        {{ col.header }}
        @if (col.sortable) {
        <p-sortIcon [field]="col.field" />
        }
      </th>
      }
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [class.cursor-pointer]="selectionMode" (click)="selectionMode && rowSelect.emit(rowData)">
      @for(col of columns; track col.field) {
      <td>
        @if (col.template && hasTemplate(col.template)) {
        <ng-container
          *ngTemplateOutlet="getTemplate(col.template)!; context: { $implicit: rowData, rowData: rowData }" />
        }
        @else {
        {{ getCellValue(rowData, col) }}
        }
      </td>
      }
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="columns.length">
        <div class="empty-state">
          <i class="pi pi-inbox"></i>
          <p>{{ 'guarantee.list.table.noData' | transloco }}</p>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
